<!-- Enter your HTML code here -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Stack Operation</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
    <h1 class="title">Stack Operation</h1>
    <div class="stack-container">
        <div class="controls">
            <input type="text" class="input" id="inputElem">
            <input type="button" class="action push-btn" value="Push">
            <input type="button" class="action pop-btn" value="Pop">
            <input type="button" class="action empty-btn" value="Empty">
            <input type="button" class="action peek-btn" value="Peek">
            <input type="button" class="action swap-btn" value="Swap">
        </div>
        <div class="stack-board">
        </div>
    </div>


    <script type="text/javascript" defer src="./js/script.js"></script>
</body>

</html>